---
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />

		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="bg-background">
		<slot />
		<style is:global>
			@tailwind base;
			@tailwind components;
			@tailwind utilities;

			:root {
				font-family: "Rubik", sans-serif;
			}

			.grain {
				content: "";
				top: -10rem;
				left: -10rem;
				width: calc(100% + 20rem);
				height: calc(100% + 20rem);
				position: fixed;
				background-image: url("noise.png");
				opacity: 0.15;
				pointer-events: none;
				-webkit-animation: noise 1s steps(2) infinite;
				animation: noise 1s steps(2) infinite;
			}

			@-webkit-keyframes noise {
				to {
					transform: translate3d(-7rem, 0, 0);
				}
			}

			@keyframes noise {
				0% {
					transform: translate3d(0, 9rem, 0);
				}
				10% {
					transform: translate3d(-1rem, -4rem, 0);
				}
				20% {
					transform: translate3d(-8rem, 2rem, 0);
				}
				30% {
					transform: translate3d(9rem, -9rem, 0);
				}
				40% {
					transform: translate3d(-2rem, 7rem, 0);
				}
				50% {
					transform: translate3d(-9rem, -4rem, 0);
				}
				60% {
					transform: translate3d(2rem, 6rem, 0);
				}
				70% {
					transform: translate3d(7rem, -8rem, 0);
				}
				80% {
					transform: translate3d(-9rem, 1rem, 0);
				}
				90% {
					transform: translate3d(6rem, -5rem, 0);
				}
				to {
					transform: translate3d(-7rem, 0, 0);
				}
			}

			@media (prefers-reduced-motion) {
				.grain {
					-webkit-animation: none;
					animation: none;
					background-color: #040d11;
					background-image: none;
				}
			}
		</style>
	</body>
</html>
